@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-20.woff2') format('woff2'),
		url('TINY5x3-20.woff') format('woff');
	font-weight: 20;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-40.woff2') format('woff2'),
		url('TINY5x3-40.woff') format('woff');
	font-weight: 40;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-60.woff2') format('woff2'),
		url('TINY5x3-60.woff') format('woff');
	font-weight: 60;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-80.woff2') format('woff2'),
		url('TINY5x3-80.woff') format('woff');
	font-weight: 80;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-100.woff2') format('woff2'),
		url('TINY5x3-100.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-120.woff2') format('woff2'),
		url('TINY5x3-120.woff') format('woff');
	font-weight: 120;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-140.woff2') format('woff2'),
		url('TINY5x3-140.woff') format('woff');
	font-weight: 140;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-160.woff2') format('woff2'),
		url('TINY5x3-160.woff') format('woff');
	font-weight: 160;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-180.woff2') format('woff2'),
		url('TINY5x3-180.woff') format('woff');
	font-weight: 180;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-200.woff2') format('woff2'),
		url('TINY5x3-200.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-220.woff2') format('woff2'),
		url('TINY5x3-220.woff') format('woff');
	font-weight: 220;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-240.woff2') format('woff2'),
		url('TINY5x3-240.woff') format('woff');
	font-weight: 240;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-260.woff2') format('woff2'),
		url('TINY5x3-260.woff') format('woff');
	font-weight: 260;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-280.woff2') format('woff2'),
		url('TINY5x3-280.woff') format('woff');
	font-weight: 280;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TINY';
	src:
		url('TINY5x3-300.woff2') format('woff2'),
		url('TINY5x3-300.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
