@font-face {
	font-family: 'TASAExplorer';
	font-weight: 100 700;
	font-style: normal;
	font-display: swap;
	src: url('TASAExplorerVF.woff2') format('woff2');
}

@font-face {
	font-family: 'TASAExplorer';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('TASAExplorer-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'TASAExplorer';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('TASAExplorer-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'TASAExplorer';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('TASAExplorer-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'TASAExplorer';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('TASAExplorer-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'TASAExplorer';
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	src: url('TASAExplorer-Black.woff2') format('woff2');
}
