@use '$lib/common/styles/styles' as styles;

@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/grayA.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/red.css';

@import '@radix-ui/colors/grayDark.css' (prefers-color-scheme: dark);
@import '@radix-ui/colors/blueDark.css' (prefers-color-scheme: dark);
@import '@radix-ui/colors/redDark.css' (prefers-color-scheme: dark);

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'blinker', sans-serif;

	@media (prefers-color-scheme: dark) {
		background-color: var(--gray1);
		color: var(--gray12);
	}
}

:root {
	--padding-x: 16px;
	@media (min-width: styles.$breakpoint-1) {
		--padding-x: 32px;
	}

	--cyber-blue-1: #cfe5fc;
	--cyber-blue-2: #b1d7fa;
	--cyber-blue-3: #4aa9f2;
	--cyber-blue-4: #2d5d8e;
	--cyber-blue-5: #131c29;

	@media (prefers-color-scheme: dark) {
		--cyber-blue-1: #051c35;
		--cyber-blue-2: #0a2849;
		--cyber-blue-3: #205180;
		--cyber-blue-4: #4f9adb;
		--cyber-blue-5: #dae3f1;
	}
}
