@use '$lib/common/styles/styles' as styles;
@use '$lib/colors/light.scss' as light;
@use '$lib/colors/dark.scss' as dark;
@use '$lib/colors/variables.scss' as colors;

@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/gray-alpha.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/red.css';

@import '@radix-ui/colors/gray-dark.css' (prefers-color-scheme: dark);
@import '@radix-ui/colors/blue-dark.css' (prefers-color-scheme: dark);
@import '@radix-ui/colors/red-dark.css' (prefers-color-scheme: dark);

html {
	scroll-behavior: smooth;
}

:root {
	--padding-x: 16px;
	@media (min-width: styles.$breakpoint-1) {
		--padding-x: 32px;
	}

	@include light.light;
	@media (prefers-contrast: more) {
		@include light.light-high-contrast;
	}

	.force-light-theme {
		@include light.light;
		@media (prefers-contrast: more) {
			@include light.light-high-contrast;
		}
	}

	@media (prefers-color-scheme: dark) {
		@include dark.dark;
		@media (prefers-contrast: more) {
			@include dark.dark-high-contrast;
		}
	}

	.force-dark-theme {
		@include dark.dark;
		@media (prefers-contrast: more) {
			@include dark.dark-high-contrast;
		}
	}
}

body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'blinker', sans-serif;
}
